* {
    cursor: url(../assets/cursor.cur), auto !important;
  }

/* light mode */
body {
    color: #3f3b39;
    background-image: linear-gradient(#607274 2.3px, transparent 2.3px),
                      linear-gradient(to right, #607274 2.3px, #faeed100 2.3px);
    background-size: 40px 40px;
    transition: all 0.3s ease-in-out;
    background-color: #FAEED1;
}


main {
    color: #3B3030;
}


#cat-header {
    background-color: #FFF0D1;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}


#clock-conteiner {
    width: 100%;
}

#clock {
    font-weight: bold;
    font-size: 1.25rem;
    color: #DED0B6;
    text-align: center;
    background-color: #607274;
    width: fit-content;
    margin: 0 auto;
    padding: 0.1%;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #607274;
    transition: all 0.3s ease-in-out;
}

#lightModeBtn {
    border-color: #a38b5c;
    border-width: 2px;
    transition: all 0.3s ease-in-out;
}

#darkModeBtn {
    border-width: 2px;
    transition: all 0.3s ease-in-out;
}

#cat-container {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    background-color: #FFF2D8;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* cat image */
#catGif {
    max-height: 400px;
    object-fit: contain;
}

/* --- darkmode --- */
body.darkmode {
    color: #DFD0B8;
    background-image: linear-gradient(#DFD0B8 2.3px, transparent 2.3px),
                      linear-gradient(to right, #DFD0B8 2.3px, #393e4600 2.3px);
    background-size: 40px 40px;
    background-color: #222831;
}

.darkmode #cat-header {
    background-color: #484f5a;
}

.darkmode #clock {
    color: #393e46;
    background-color: #dfd0b8;
    border-color: #dfd0b8;
}

.darkmode #cat-container {
    background-color: #475357;
    color: #dfd0b8;
}


.darkmode #lightModeBtn {
    border-color: #fdda94;
}

.darkmode #darkModeBtn {
    border-color: #dfd0b8;
}


button#lightModeBtn,
button#darkModeBtn {
    font-size: 1.25rem;
}
